<div class="content-container">
  <div class="center">
    <h1>A database modeling tool</h1>
    <h2>
      A database modeling tool for creating Entity Relationship Diagrams, and
      SQL DDL statements.
    </h2>
  </div>
  <div class="card-container">
    <mat-card class="card">
      A database modeling tool for creating Entity Relationship Diagrams, and
      SQL DDL statements.
    </mat-card>
    <mat-card class="card">
      A database modeling tool for creating Entity Relationship Diagrams, and
      SQL DDL statements.
    </mat-card>
    <mat-card class="card">
      A database modeling tool for creating Entity Relationship Diagrams, and
      SQL DDL statements.
    </mat-card>
  </div>
</div>
